/* === Google Font ===*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* === Variables Define ===*/
:root{
    --primary-color:#3525D3;
    --white-color:#fff;
    --black-color:#3C4A57; 
    --light-gray:#E4E8EE;
}



::after{
  clear: both;
}
        
#allcontainer1{
  margin:70px 10px;
  padding:90px;

}


#allcontainer1{
  position:absolute;
  height:100%;
  width:calc(100% - 78px);
  left:78px;
  
  padding:20px;
  
  transition:all 0.5s ease;
}
.sidebar.active ~ #allcontainer1{
  z-index:100;
  width:calc(100% - 240px);
  left:240px;
}


        


